---
import Footer from "../components/sections/Footer.astro";
import Header from "../components/sections/Header.astro";

import "../styles/index.css";

interface Props {
	title: string;
  description?: string;
}

const d = "Computer Engineer with 5 years of experience as a Backend Engineer and Platform Engineer, focused on distributed systems, developer experience and devTools. Currently pursuing a Master's in Electrical and Computer Engineering at UTFPR. Visit to learn more about my journey, projects, and technical content!";

const { title, description = d } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.prandogabriel.dev/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/favicon.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.prandogabriel.dev/" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="/favicon.png" />

<!-- Meta Tags Generated with https://metatags.io -->


    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;

        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>

    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-MYE2F737XW"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-MYE2F737XW");
    </script>
  </head>
  <body
    class="h-full flex flex-col overflow-x-hidden bg-default
		text-default text-base selection:bg-secondary px-12"
  >
    <Header />
    <section class="flex-grow">
      <slot />
    </section>
    <Footer />
  </body>
</html>
